{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Jadi Mitra - FoodWise</title>
    <link rel="stylesheet" href="{% static 'landing_page/css/jadimitra.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Jadi Mitra</h2>
        <form method="post">
            {% csrf_token %}
            <!-- <label for="nama">Nama Perusahaan/Perorangan</label>
            <input type="text" id="nama" name="nama" required>

            <label for="jenis_makanan">Jenis Makanan</label>
            <input type="text" id="jenis_makanan" name="jenis_makanan" required>

            <label for="alamat">Alamat</label>
            <input type="text" id="alamat" name="alamat" required>

            <label for="telepon">Nomor Telepon</label>
            <input type="text" id="telepon" name="telepon" required>

            <label for="tanggal_kadaluwarsa">Tanggal Kadaluwarsa</label>
            <input type="date" id="tanggal_kadaluwarsa" name="tanggal_kadaluwarsa" required>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required> -->
            <label for="{{ form.organization_name.id_for_label }}">Nama Perusahaan/Perorangan</label>
            {{ form.organization_name }}

            <label for="{{ form.location.id_for_label }}">Alamat</label>
            {{ form.location }}

            <label for="{{ form.phone_number.id_for_label }}">Nomor Telepon</label>
            {{ form.phone_number }}

            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}

            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}

            <button type="submit">Daftar</button>
        </form>
    </div>
</body>
</html>
