{% extends "base.html" %}
{% load static %}

{% block title %}FoodWise - Selamatkan Makanan, Lawan Kelaparan{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'landing_page/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'landing_page/css/slider.css' %}">
<link rel="stylesheet" href="{% static 'landing_page/css/testomoni.css' %}">
{% endblock css %}

{% block content %}

{% comment %} <header class="header">
    <h1>FOODWISE</h1>
</header> {% endcomment %}

<!--slider sction -->
<div class="hero-slider">
    <div class="slider-container">

        {% for funfact in funfacts %}
        <!-- Slide 1 -->
        <div class="slide active" style="background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
            <div class="slide-content">
                <div class='container'>

                    <h1 class="funfact-title">Taukah kamu?</h1>
                    <p class="funfact-text">{{funfact}}</p>
               
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    
    <!-- Slider Navigation -->
    <div class="slider-nav">
        <button class="prev-slide">❮</button>
        <button class="next-slide">❯</button>
    </div>

    <div class="dots-container"></div>
</div>

<section class="secondary-section">
    <div class="container">
        <div class="content ">
            <h1>Apa yang kami lakukan</h1>
            <p>Kami mengumpulkan makanan berlebih dari restoran, katering, bakery, hotel, lahan pertanian, event, pernikahan, dan donasi individu, dengan melewati serangkaian uji kelayakan makanan, untuk disalurkan pada masyarakat pra-sejahtera.<p>
        </div>
    </div>
</section>

<section class="hero">
    <div class='container'>
        <h2>Selamatkan Makanan, Lawan Kelaparan</h2>
        <p>FoodWise hadir sebagai solusi untuk masalah pemborosan makanan. Melalui platform ini, siapa pun dapat dengan mudah mendonasikan makanan berlebih kepada pihak-pihak yang membutuhkan, sambil ikut berkontribusi dalam gerakan sosial melawan kelaparan dan food waste.</p>
        {% comment %} <a href="{% url 'form_donasi' %}" class="button primary-cta cta-button">DONASI SEKARANG</a> {% endcomment %}
    </div>
</section>

<section class="cta-section">
    <div class='container'>
        <div class="cta-grid">
            <div class="cta-card">
                <h3>Panggilan Mitra</h3>
                <p>Sebagai mitra, Anda dapat menyalurkan kelebihan makanan dari kepada mereka yang membutuhkan.</p>
                <a href="{% url 'jadi_mitra' %}" class="button secondary-cta cta-button">Mulai</a>
            </div>
            
            <div class="cta-card">
                <h3>Jadi Relawan</h3>
                <p>Jadi relawan FoodWise dan bantu kami mendistribusikan makanan kepada yang membutuhkan. Waktu kecilmu bisa berdampak besar.</p>
                <a href="{% url 'jadi_relawan' %}" class="button secondary-cta cta-button">Mulai</a>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="container">
        <div style="text-align: center; margin: 0 auto; padding: 2%;">
            <h1 style="font-size: xx-large;color: rgb(255, 81, 0);">Apa Kata Mereka</h1>
        </div>
        <div class="cta-grid">
            <div class="cta-card" style="display: flex;flex-direction: column;align-items: center;">
                <img src="https://gardapangan.org/wp-content/uploads/2018/10/8.-A-e1540393270761.png" style="position: relative; margin: 0 auto; width: 100px; border-radius: 50%; margin-bottom: 15px;" alt="">
                <h2>Riyan Kaizir</h2>
                <div style="text-align: justify;">
									<p>Kami bekerjasama dengan FoodWise karena kami di Tanak Melayu sebenarnya juga berharap dapat meminimalisir limbah makanan. Jadi kalau ada surplus makanan, akan kami bagikan selama itu masih layak konsumsi. Tentu kami senang sekali dengan kegiatan positif seperti ini. Apalagi teman-teman di FoodWise ini sangat konsisten dan peduli dengan permasalahan food waste di Surabaya.&nbsp;</p>
	
				</div>
            </div>
            <div class="cta-card" style="display: flex;flex-direction: column;align-items: center;">
                <img src="https://gardapangan.org/wp-content/uploads/2018/10/penerima.png" style="position: relative; margin: 0 auto; width: 100px; border-radius: 50%; margin-bottom: 15px;" alt="">
                <h2>Bu Mira</h2>
                <div style="text-align: justify;">
									<p>Kalau kami di sini kebetulan banyak keluarga yang tidak mampu, jadi memang banyak yang membutuhkan makanan seperti yang diantarkan FoodWise. Jadi kalau diantarkan makanan, kami senang sekali. Senang, karena kami bisa ikut merasakan makanan yang enak, terjamin sehat, dan bergizi.</p>
	
				</div>
            </div>
            <div class="cta-card" style="display: flex;flex-direction: column;align-items: center;">
                <img src="https://gardapangan.org/wp-content/uploads/2018/10/IMG_20170608_172440-Copy.jpg" style="position: relative; margin: 0 auto; width: 100px; border-radius: 50%; margin-bottom: 15px;" alt="">
                <h2>Rohkmah Aliyah Hidayat</h2>
                <div style="text-align: justify;">
									<p>FoodWise memberi saya ruang untuk berbagi, bersyukur, dan berkembang. Tidak hanya bergerilya membagi makanan setiap hari, keluarga besar FoodWise selalu mendorong kami para volunteer untuk bisa bergerak dan berekspresi sesuai skill dan sumber daya yang kami punya. </p>
	
				</div>
            </div>
        </div>
    </div>
</section>
				 


<!--load JavaScript -->
<script src="{% static 'landing_page/js/slider.js' %}"></script>
{% endblock content %}
