{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login - FoodWise</title>
    <link rel="stylesheet" href="{% static 'landing_page/css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="right-box">
            <h2>Log in</h2>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
                 {% endif %}

                <label for="{{ form.username.id_for_label }}">Login, email or phone number</label>
                 {{ form.username }}

                <label for="{{ form.password.id_for_label }}">Password</label>
                 {{ form.password }}

                <div class="forgot">
                    <a href="#">forget password?</a>
                </div>

                <button type="submit">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>
