{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Riwayat Donasi{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/riwayatdonasi.css' %}">
{% endblock css %}

{% block header %}Riwayat Donasi{% endblock header %}

{% block content %}

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Tanggal</th>
                <th>Jenis Makanan</th>
                <th>Porsi</th>
                <th>Alamat</th>
                <th>Relawan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>12 Desember 2012</td>
                <td>Ayam Bakar, Bebek Goreng</td>
                <td>5</td>
                <td>Jl. Jenderal Sudirman, Ngapeng</td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>12 Desember 2012</td>
                <td>Ayam Bakar, Bebek Goreng</td>
                <td>5</td>
                <td>Jl. Jenderal Sudirman</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}