{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Status Donasi{% endblock title %}
{% block header %}Status Donasi{% endblock header %}

{% block content %}
<!-- Konten Utama -->
<div>    
    <div class="status-container">
        <div class="status-card status-belum">
            <strong>Belum Diambil</strong>
            <p>[Jenis Makanan]</p>
            <p>(Jumlah Porsi)</p>
            <p>@Alamat</p>
            <p>{Tanggal}</p>
        </div>
        <div class="status-card status-sudah">
                <strong>Sudah Diambil</strong>
                <p>[Jenis Makanan]</p>
                <p>(Jumlah Porsi)</p>
                <p>@Alamat</p>
                <p>{Tanggal}</p>
            </div>
            <div class="status-card status-selesai">
                <strong>Belum Disalurkan</strong>
                <p>[Jenis Makanan]</p>
                <p>(Jumlah Porsi)</p>
                <p>@Alamat</p>
                <p>{Tanggal}</p>
                <button class="confirm-btn">Konfirmasi Selesai</button>
            </div>
            
            <!-- Placeholder untuk grid tambahan -->
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
        </div>
    </div>
    {% endblock content %}
    