{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Status Donasi{% endblock title %}
{% block header %}Status Donasi{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/statusdonasi.css' %}">
{% endblock css %}


{% block content %}
<!-- Konten Utama -->
<div>    
    <div class="status-container">
        {% for transaction in pending_transactions%}
        <div class="status-card status-belum">
            <strong>Belum Diambil</strong>
            <p>{{ transaction.food_item.name_food }}</p>
            <p>{{ transaction.food_item.quantity }} Porsi</p>
            <p>{{ transaction.food_item.food_donor.location }}</p>
            <p>{{ transaction.donation_date }}</p>
        </div>
        {% endfor %}
        <div class="status-card status-sudah">
                <strong>Sudah Diambil</strong>
                <p>[Jenis Makanan]</p>
                <p>(Jumlah Porsi)</p>
                <p>@Alamat</p>
                <p>{Tanggal}</p>
            </div>
            <div class="status-card status-selesai">
                <strong>Belum Disalurkan</strong>
                <p>[Jenis Makanan]</p>
                <p>(Jumlah Porsi)</p>
                <p>@Alamat</p>
                <p>{Tanggal}</p>
                <button class="confirm-btn">Konfirmasi Selesai</button>
            </div>
            
            <!-- Placeholder untuk grid tambahan -->
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
            <div class="grid-placeholder"></div>
        </div>
    </div>
    {% endblock content %}
    