* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #ffffff;
    height: 100vh;
    padding: 40px;
    color: white;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar button {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    background-color:  #d35400;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* Main content */
.main {
    flex-grow: 1;
    padding: 30px 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #6d0606;
}

.logout {
    padding: 8px 12px;
    border: 1px solid #6d0606;
    background: white;
    color: #6d0606;
    border-radius: 5px;
    cursor: pointer;
}

/* Table */
.table-container {
    margin-top: 30px;
    background-color: #fceee6;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #999;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #d35400;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
