* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #f4b183;
  padding: 20px 10px;
}

.sidebar h2 {
  text-align: center;
  color: maroon;
  margin-bottom: 30px;
}

.sidebar button {
  width: 100%;
  background-color: white;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #8B0000;
}

.logo .light {
  font-weight: normal;
  color: #444;
}

.dashboard {
  font-size: 14px;
  color: maroon;
  margin-bottom: 30px;
}


/* Main Content */
.main {
  flex-grow: 1;
  padding: 30px 50px;
  position: relative;
}

.topbar {
  display: flex;
  justify-content: flex-end;
}

.logout {
  border: 1px solid maroon;
  background-color: white;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  color: maroon;
}

.main h1 {
  text-align: center;
  color: maroon;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 40px 0;
}

.donation-info {
  font-size: 18px;
  font-weight: bold;
  margin-left: 60px;
  line-height: 2;
}

/* Button Action */
.action {
  text-align: center;
  margin-top: 40px;
}

.dibagikan {
  background-color: #600000;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
