

/* tabel */


/* Table */
.table-container {
    margin-top: 30px;
    background-color: #fceee6;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #999;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #d35400;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
