{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FoodWise - Donasi{% endblock title %}}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {% block css %}{% endblock css %}
</head>
<body>
  <div class='container'>
    <div class="navbar">
      <a href="{% url "home" %}"><div class="logo"><strong>FOOD<span>WISE</span></strong></div></a>
      {% if request.session.username %}
      <div>
        {% if request.session.user_role == 'Donatur' %}
          {% url 'status_donasi' as dashboard_url %}
        {% else %}
          {% url 'riwayat_donasi' as dashboard_url %}
        {% endif %}
        <a href="{{ dashboard_url }}">Dashboard</a>
        <a>{{request.session.user_role}}</a>
      </div>
      <a href="{% url 'logout' %}">
          <button class="login-button">Log out</button>
      </a>
      {% else %}
      <!-- If the user is not logged in -->
      <a href="{% url 'login' %}">
          <button class="login-button">Log in</button>
      </a>
      {% endif %}
    </div>
  </div>

  <div>
    {% block content %}{% endblock content %}
  </div>

     
  <footer>
    <p>Hubungi Kami: <a href="tel:041122223333" style="color:white;">0411 2222 3333</a></p>
    <p>© 2024 FoodWise. All rights reserved.</p>
  </footer>


  <script src="{% static 'landing_page/js/animatedButton.js' %}"></script>

</body>
</html>
