{% load static %}

<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock title %}</title>
        {% comment %} <link rel="stylesheet" href="{% static 'donation/css/styles.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block css %}{% endblock css %}

    </head>
    <body>
        <!-- Sidebar -->
        <div class="container">

            <div class="sidebar">
                <a href="{% url 'home' %}">
                    <div class="brand-title">
                        <span style="color: black;">FOOD</span><span style="color: #e85d04;">WISE</span>
                    </div>
                </a>
                {% if request.session.user_role == 'Relawan' %}
                <h2>RELAWAN</h2>
                <a href="{% url 'caridonasi' %}"><button>Cari Donasi</button></a>
                <a href="{% url 'donasidiambil' %}"><button>Donasi Diambil</button></a>
                <a href="{% url 'riwayatpembagian' %}"><button>Riwayat Pembagian</button></a>
                {% elif request.session.user_role == 'Donatur' %}
                <h2>DONATUR</h2>
                <a href="{% url 'status_donasi' %}"><button>Status Donasi</button></a>
                <a href="{% url 'riwayat_donasi' %}"><button>Riwayat Donasi</button></a>
                <a href="{% url 'form_donasi' %}"><button>Tambah Makanan</button></a>
                {% endif %}
            </div>
            
            <!-- Konten Utama -->
            <div class="main">
                <div class="header">
                    <h1>{% block header %}{% endblock header %}</h1>
                    <a href="{% url 'logout' %}"><button type="submit" class="logout">Log out</button></a>
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
    </html>
    