{% load static %}

<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock title %}</title>
        {% block css %}{% endblock css %}

    </head>
    <body>
        <!-- Sidebar -->
        <div class="sidebar">
            <a href="{% url 'home' %}">
                <p><strong>
                    <span style="color: black;">FOOD</span><span style="color: #e85d04;">WISE</span>
                </strong></p>
            </a>
            <a href="{% url 'status_donasi' %}">
                <button>Status Donasi</button>
            </a>
            <a href="{% url 'riwayat_donasi' %}">
                <button>Riwayat Donasi</button>
            </a>
            <a href="{% url 'form_donasi' %}">
                <button>Tambah Makanan</button>
            </a>
        </div>
        
        <!-- Konten Utama -->
        <div class="main">
            <div class="header">
                <h1>{% block header %}{% endblock header %}</h1>
                {% if request.session.username %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout"><a href="{% url 'logout' %}">Log out</a></button>
                    </form>
                {% endif %}
            </div>
            {% block content %}{% endblock content %}
        </div>
    </body>
    </html>
    