{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Cari Donasi{% endblock title %}
{% block header %}Cari Donasi{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/caridonasi.css' %}">
{% endblock css %}

{% block content %}
<div>
  <div class="search-box">
    <input type="text" placeholder="Cari donasi...">
  </div>
  
  <div class="status-container">
    
    {% for transaction in transactions %}
    {% comment %} <div class="status-card 
        {% if transaction.status == 'Menunggu Diambil' %}status-belum
        {% elif transaction.status == 'Menunggu Disalurkan' %}status-sudah
        {% elif transaction.status == 'Telah Disalurkan' %}status-selesai
        {% endif %}"> {% endcomment %}
        
    <div class="status-card">
      <p>{{ transaction.food_item.food_donor.organization_name }}</p>
      <p>{{ transaction.food_item.name_food }}</p>
      <p>{{ transaction.food_item.quantity }} Porsi</p>
      <p>{{ transaction.food_item.food_donor.location }}</p>
      <p>{{ transaction.food_item.expiry_date }}</p>
        <form action="{% url 'aksi_donasi' transaction.id %}" method="post">
            {% csrf_token %}
            <button class="confirm-btn" type="submit">Ambil Donasi</button>
        </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}