{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cari Donasi</title>
  <link rel="stylesheet" href="{% static 'css/caridonasi.css' %}">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <h2>RELAWAN</h2>
      <button>Cari Donasi</button>
      <button>Donasi Diambil</button>
      <button>Tambah Makanan</button>
    </div>

    <div class="main">
        <div class="topbar">
          <button class="logout">Log Out</button>
        </div>
  
      <div class="main">
        <h1>CARI DONASI</h1>
        <div class="search-box">
          <input type="text" placeholder="Cari donasi...">
        </div>

        <div class="details">
          <p><strong>Donatur :</strong></p>
          <p><strong>Jenis Makanan :</strong></p>
          <p><strong>Jumlah :</strong></p>
          <p><strong>Lokasi :</strong></p>
          <p><strong>Tanggal :</strong></p>
          <p><strong>Status :</strong></p>
        </div>

        <button class="btn-donasi">Ambil Donasi</button>
      </div>
    </div>
  </div>
</body>
</html>
