{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Donasi Diambil{% endblock title %}
{% block header %}Donasi Diambil{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/donasidiambil.css' %}">
{% endblock css %}

{% block content %}
<div class="status-container">
  
  {% for transaction in inprogress_transactions %}
  <div class="status-card 
      {% if transaction.status == 'Menunggu Diambil' %}status-belum
      {% elif transaction.status == 'Menunggu Disalurkan' %}status-sudah
      {% elif transaction.status == 'Telah Disalurkan' %}status-selesai
      {% endif %}">
      
  {% comment %} <div class="status-card"> {% endcomment %}
    <p>{{ transaction.food_item.food_donor.organization_name }}</p>
    <p>{{ transaction.food_item.name_food }}</p>
    <p>{{ transaction.food_item.quantity }} Porsi</p>
    <p>{{ transaction.food_item.food_donor.location }}</p>
    <p>{{ transaction.food_item.expiry_date }}</p>
      <form action="{% url 'aksi_donasi' transaction.id %}" method="post">
          {% csrf_token %}
          {% if transaction.status == 'Menunggu Diambil' %}
          <button class="confirm-btn" type="submit">Telah Diambil</button>
          {% elif transaction.status == 'Menunggu Disalurkan' %}
          <button class="confirm-btn" type="submit">Telah Disalurkan</button>
          {% endif %}
        </form>
  </div>
  {% endfor %}

  
</div>

{% endblock content %}