{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Donasi Diambil{% endblock title %}
{% block header %}Donasi Diambil{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/donasidiambil.css' %}">
{% endblock css %}

{% block content %}
<div>
  <div class="donation-info">
    <p><strong>Tanggal Diambil</strong></p>
    <p><strong>Nama Donatur</strong></p>
    <p><strong>Jenis Makanan</strong></p>
    <p><strong>Jumlah Makanan</strong></p>
    <p><strong>Lokasi Pengambilan</strong></p>
    <p><strong>Lokasi Pembagian</strong></p>
    <p><strong>Status Donasi</strong></p>
    <p><strong>Waktu Konfirmasi</strong></p>
  </div>
  
  <div class="action">
    <button class="dibagikan">Donasi Dibagikan</button>
  </div>
</div>
{% endblock content %}