{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Laporan pembagian{% endblock title %}
{% block header %}Laporan pembagian{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/laporanpembagian.css' %}">
{% endblock css %}

{% block content %}
<div>
  <div class="report-info">
    <p><strong>Tanggal Distribusi</strong></p>
    <p><strong>Nama Donatur</strong></p>
    <p><strong>Jenis Makanan</strong></p>
    <p><strong>Jumlah Makanan</strong></p>
    <p><strong>Tujuan Pembagian</strong></p>
    <p><strong>Bukti Pembagian</strong></p>
    <p><strong>Catatan</strong></p>
  </div>
</div>
{% endblock content %}