{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Riwayat pembagian{% endblock title %}
{% block header %}Riwayat pembagian{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/riwayatpembagian.css' %}">
{% endblock css %}

{% block content %}
<div class="table-container">
  <table>
      <thead>
          <tr>
              <th>No.</th>
              <th>Tanggal</th>
              <th>Jenis Makanan</th>
              <th>Porsi</th>
              <th>Alamat</th>
              {% comment %} <th>Relawan</th> {% endcomment %}
          </tr>
      </thead>
      <tbody>
          {% for transaction in completed_transactions %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ transaction.donation_date }}</td>
              <td>{{ transaction.food_item.name_food }}</td>
              <td>{{ transaction.food_item.quantity }}</td>
              <td>{{ transaction.food_item.food_donor.location }}</td>
              {% comment %} <td>{{ transaction.volunteer.full_name }}</td> {% endcomment %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}